{% trans_default_domain 'FOSUserBundle' %}

<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="credentials-wrapper">
                    <div class="credentials">
                        <h3 class="text-center uppercase"><strong>{{ 'reset.password'|trans({}, 'pages') }}</strong></h3>
                        <div class="group">
                            <div class="table-cell line"></div>
                            <div class="table-cell line"></div>
                            <div class="table-cell line"></div>
                        </div>
                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-pw btn-block row-margin-top btn-success">{{ 'change_password.submit'|trans }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>